---
import Sponsor from "../ui/sponsor.astro";

const sponsors = [
  {
    logo: '/sponsors/sponsor-microsoft-reactor.png',
    company: 'Microsoft Reactor',
    url: 'https://aka.ms/ReactorSaoPaulo',
  },
  {
    logo: '/sponsors/sponsor-slikdesk.png',
    company: 'Slikdesk',
    url: 'https://slikdesk.com.br/',
  },
  {
    logo: '/sponsors/sponsor-nearsure.png',
    company: 'Nearsure',
    url: 'https://nearsure.com/',
  },
  {
    logo: '/sponsors/sponsor-scylladb.svg',
    company: 'Scylladb',
    url: 'https://www.scylladb.com/',
  },
];

const support = [
  {
    logo: '/partners/partner-code-in-the-dark.png',
    company: 'Code In The Dark Brasil',
    url: 'http://www.codeinthedark.com.br',
  },
  {
    logo: '/partners/partner-frontin-floripa.png',
    company: 'Front In Floripa',
    url: 'https://frontin.floripa.br/',
  },
  {
    logo: '/partners/partner-frontendweek.jpg',
    company: 'Front-end Week',
    url: 'https://www.frontendweek.com.br/',
  },
  {
    logo: '/partners/partner-roadsec.png',
    company: 'Roadsec',
    url: 'https://roadsec.com.br/',
  },
  {
    logo: '/partners/partner-quebradev.png',
    company: 'QuebraDev',
    url: 'https://quebra.dev/',
  },
  {
    logo: '/partners/partner-todas-as-letras.png',
    company: 'Todas as Letras',
    url: 'https://todasasletras.org/',
  },
  {
    logo: '/partners/partner-trampar-de-casa.svg',
    company: 'TramparDeCasa',
    url: 'https://trampardecasa.com.br/',
  },
  {
    logo: '/partners/partner-vi-uma-vaga.png',
    company: 'ViUmaVaga',
    url: 'https://viumavaga.tech/',
  },
  {
    logo: '/partners/partner-devs-cansados.png',
    company: 'Devs Cansados',
    url: 'https://www.devscansados.com.br/',
  },
  {
    logo: '/partners/partner-devsoutinho.svg',
    company: 'DevSoutinho',
    url: 'https://mariosouto.com/',
  },
  {
    logo: '/partners/partner-he4rtdevs.svg',
    company: 'He4rt Devs',
    url: 'https://heartdevs.com/',
  },
  {
    logo: '/partners/partner-afroya.png',
    company: 'Afroya',
    url: 'https://afroya.tech/',
  },
];
---

<section class="sponsors">
  <div class="sponsors-main">

    <h2 class="sponsors-title">
      Quer patrocinar o Front In Sampa 2024?
    </h2>


 
  

    <div class="sponsors-content--footer">
      <p>
        Sua <b>marca em destaque</b> na comunidade de desenvolvimento brasileira.
        <br />
        Patrocine esse e mais eventos <strong>FRONTIN</strong>.
      </p>
      <a
        class="button button-inverse"
        href="http://patrocine.frontinsampa.com.br"
        target="_blank"
      >
        Entre em Contato
      </a>
    </div>
</div>

</section>

<style lang="scss">
  .sponsors {
    position: relative;
    background-color: var(--color-secondary);
    padding: 6rem 0 2rem;

    @media (max-width: 768px) {
      padding: 4rem 0 0;
    }
  }

  .sponsors-main {
    max-width: var(--wrapper-medium);
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
  }

  .sponsors-content,
  .sponsors-content--footer {
    text-align: center;
  }

  .sponsors-content--footer {
    margin-bottom: 8rem;
  }

  .sponsors-disclaimer {
    padding: 5rem 0 7rem;
    color: #555;
    text-align: center;

    @media (max-width: 800px) {
      padding: 3rem 0 6rem;
    }
  }

  .sponsors-disclaimer-box {
    max-width: 80rem;
    margin: 0 auto;
    padding-bottom: 10rem;
    margin-top: -3rem;
  }

  .sponsors-disclaimer-text {
    text-align: center;
    margin: 0;
    line-height: 1.8;

    @media (max-width: 768px) {
      line-height: 2;
    }
  }

  .sponsors-disclaimer-text span {
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: var(--color-accent-2);
    padding: .2em .5em;
    display: inline-block;
    margin-bottom: 1.6rem;

    @media (max-width: 800px) {
      font-size: 1.4rem;
    }
  }

  .sponsors-title {
    color: var(--color-primary);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }

  .sponsors-list:last-child()  {
     border-bottom: none;
     margin-bottom: 0;
  }

  .sponsors-list {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .support-list {
    grid-template-columns: repeat(3, 1fr);

    @media (min-width: 768px) {
      gap: 1rem;
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .support-list,
  .sponsors-list {
    gap: .5rem;
    justify-content: center;
    display: grid;
    margin-bottom: 6rem;

    @media (min-width: 768px) {
      gap: 1rem;
    }
  }

  .sponsors-item {
    height: 100%;
  }

  .sponsors-item:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/3;

    @media (min-width: 768px) {
      grid-column: 1/3;
      grid-row: 1/4;
    }
  }

  .sponsors-item:nth-child(2) {
    grid-column: 5/7;
    grid-row: 1/3;
    max-height: 300px;

    @media (min-width: 768px) {
      grid-column: 3/5;
      grid-row: 1/3;
    }
  }

  .sponsors-item:nth-child(n+3) {
    grid-column: span 3;

    @media (min-width: 768px) {
      grid-column: auto;
    }
  }
</style>
